{% extends "layout.njk" %}

{% block head %}
    <title>Detalhes de Vendas</title>
    
{% endblock %}

{% block content %}
    <div class="container mt-5 card  shadow p-3  bg-white rounded">
        <div class="card-body">


        <div class="row">
            <div class="col-md-6">
                <h4>Vendas</h4>
                <hr>
            </div>

            <div class="col-2 offset-4">
                <div class="card">
                    <div class="card-body bg-dark text-white rounded shadow-sm p-3 ">
                        <strong class="text-white">Vendas: </strong> 
                        <strong class="text-white "> {{ sales.length }} </strong><br><hr>
                        <strong class="text-white" >Lucro :</strong>
                        <strong class="rounded p-1 bg-white text-success" >{{ total }}</strong>
                    </div>
                </div>
            </div>
         
        </div>



        <form class="needs-validation" action="/salesdates" method="post" >
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Data Inicial</label>
                <input type="date" class="form-control" value="{{startDate}}" id="startDate"  name="startDate">
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Data Final</label>
                <input type="date" id="finalDate" value="{{finalDate}}" name="finalDate" class="form-control">
              </div>
            </div>
            <div class="row justify-content-end ">
                <div class="col-md-5 mr-4 ">
                    <button class="btn btn-primary " type="submit">Pesquisar</button>
                </div>
            </div>
            {% if dateFilter != false %}
            <div class="row justify-content-end">
                <div class="col-md-5 mr-4 mt-3 ">
                        <a href="/sales" class="btn btn-dark ">Limpar</a>
                </div>
            </div>
                {% endif %}
          </form>



        <div class="row mt-5 ">
            {% for sale in sales %}
                {% if sale != null %}
                    <div class="box-sale shadow p3 col-md-3 card bg-dark text-white">
                        <div class=" card-body  header"> 

                                   
                        {% for product in sale.sale.products %}
                        <div class=" ">
                            <h6 >Nome : {{product.product.name }}</h6>
                            <h6 >Quantidade : {{product.quantity}}</h6> 
                            <h6>Valor : {{product.formattedPrice}}</h6>
                            <h6>Desconto : {{sale.sale.descount}} %</h6>
                        </div>  
                    
                         {% endfor %}

                            <div class="">
                                <h6 class="data">Data : {{ sale.formattedDate }}</h6>
                            </div>
                        
                            <div class="total">
                                <h6>Total: {{ sale.sale.formattedTotal }}</h6>
                            </div>
                        </div>

                    
                         
                    

                        
                 
                        <div class="row ">
                            <div class="col-5 offset-7 mb-3  ">
                                <form  action="/sales/delete/{{sale._id}}?_method=DELETE" method="POST" onSubmit="deleteSale(event)">
                                    <button class="btn btn-danger ">Deletar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>

<script>
    function deleteSale(e) {
        if(!window.confirm("Deseja realmente deletar essa venda ?")) {
            e.returnValue = false; 
        }
    }
</script>



{% endblock %}        

        


