{% extends "layout.njk" %}
{% block head %}
    <title>Entradas e Saídas</title>
     
{% endblock %}

{% block content %}
<div class="container card mt-5 shadow p-3">
    <h4>Detalhes de Entrada e Saída</h4>
     <hr>

    <form class="search" action="/entrancesandexitsdatailsdates" method="post">
        <div class="row">            
            <div class="col-md-4">
                <label for="startDate" class="form-label">Data Inicial</label>
                <input id="startDate" value="{{startDate}}" class="form-control" type="date" name="startDate" />
            </div>
            <div class="col-md-4">
                <label for="finalDate" class="form-label">Data final</label>
                <input id="finalDate" value="{{finalDate}}"  class="form-control" type="date" name="finalDate" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary mt-4" type="submit">Pesquisar</button>
                {% if dateFilter != false %}
                    <a href="/entrancesandexitsdatails" class="btn btn-secondary mt-4">Limpar</a>
                {% endif %}
            </div>
        </div>
    </form>

     <div class="row mt-5">            
            <div class="col-md-4 card bg-success text-white">
                <label  class="form-label label-data">Entradas:</label>
                <strong  >{{totalEntrance}}</strong>
            </div>
            <div class="col-md-4 card bg-danger text-white">
                <label  class="form-label label-data">Saídas:</label>
                <strong  >{{totalExit}}</strong>
            </div>
            <div class="col-md-4 bg-info text-white card">
                <label  >Saldo:</label> 
                <strong  class="data balance">{{balance}}</strong>
            </div>
        </div>
</div>    
{% endblock %}
       