
<!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <title>Document</title>
       
        <link rel="stylesheet" href="/styles.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">  
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary" id="navbartop">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Loja Maromba</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productslist">Cadastro de Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Realizar Venda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entrancesandexits">Entrada e Saída</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-logout nav-link" action="/logout" method="post">
                            <button class="btn-exit "><i class="bi bi-power"></i>Sair</button>
                        </form>
                    </li>
                </ul>
                </div>
            </div>
        </nav>          
        <div class="wrapper">
            <nav id="sidebar">

                <div class="sidebar-header">
                    <h4><a href="/">Loja Maromba</a></h4>
                </div>

                <ul class="list-unstyled components">
                    <p>MENU</p>
                    
                    <li>
                        <a href="/productslist"><i class="bi bi-bag-plus"></i>Cadastro de Produtos</a>
                    </li>
                    
                    <li>
                        <a href="/sales"><i class="bi bi-bag-check"></i>Vendas</a>
                    </li>
                     <li>
                        <a href="/cart"><i class="bi bi-cart-plus"></i>Realizar Vendas</a>
                    </li>
                    <li>
                        <a href="/entrancesandexits"><i class="bi bi-bar-chart-line "></i>Entrada e Saída</a>
                    </li>
                </ul>

                <form class="form-logout" action="/logout" method="post">
                    <button class="btn-exit"><i class="bi bi-power"></i>Sair</button>
                </form>
            </nav>

           
        </div>  
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>



 -->



 <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head %}
    <title>Document</title>
    {% endblock %} 



    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">BD Admin<sup>1.0</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Menu Principal</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Ferramentas
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Recursos</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/productslist">Cadastro de Produtos <i class="fas fa-boxes    "></i></a>
                        <a class="collapse-item" href="/cart">Realizar Vendas <i class="fas fa-dollar-sign"></i></a>
                        <a class="collapse-item" href="/sales">Detalhes de Vendas <i class="fas fa-chart-line    "></i></a>
                        <a class="collapse-item" href="/entrancesandexits">Entrada e Saída <i class="fas fa-cash-register"></i></a>
                    </div>
                </div>
            </li>
          
            

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> 

            <div class="text-center d-none d-md-inline">
                <form class="form-logout" action="/logout" method="post">
                      <button type="submit" class="btn btn-danger">Logout  <span style="font-size: 1rem;" class="fas fa-sign-out-alt"></span></button>
                </form>
            </div>

                 
         
            <!-- Sidebar Message -->
    
        </ul>
        <!-- End of Sidebar -->

        <div class="container content" id="content">
            {% block content %}
        
            {% endblock %}  
        </div>
     

        

    
   
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    
    

    
</body>

</html>