{% extends "layout.njk" %}

{% block head %}
    <title>BD Admin 1.0</title>
    {% endblock %}    
 
{% block content %}
        

        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card shadow p-3  text-left">
                      <img class="card-img-top" src="holder.js/100px180/" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Seja Bem-Vindo ao BD ADMIN <sup>1.0</sup></h4>
                        <hr>
                        <p class="card-text">
                            Este projeto ainda está em fase de desenvolvimento!
                            <br><br>
                            Esperamos que você possa aproveitar bastante esta fase 
                            inicial de nosso sistema. Posteriormente, enviaremos
                            algumas atualizações para incluir novos recursos e funcionalidades.
                        </p>
                      </div>
                    </div>  
                </div>
            </div>

        
            
        </div>

        <script>


        </script>
{% endblock %}
        
        
