{% extends "layout.njk" %}

    {% block head %}
        <title>Vendas</title>
        
        <script src="/js/validateForm.js"></script>
    {% endblock %}

    {% block content %}

      
    <div class="container card shadow p-3  text-left mt-5" >

        <div class="row" >
            <div class="col">
                  <div class="card-body">
                    <h4 class="card-title">Frente de Caixa</h4>
                    <hr>
                    <form class="form-product"action="/cart" name="myForm"  method="post" class="search" onsubmit="return validateForm()">
                        <div class="row">
                        <div class="col-6">
                            <label class="form-label">Código do produto</label>
                            <input class="form-control" id="codigoProduto" type="text" placeholder="#######" name="searchBarcode" value="{{searchBarcode}}" autofocus />
                        </div>
                        <div class="col-4">
                            <label class="form-label">Nome do produto *</label>
                            <input class="form-control" id="nomeProduto"type="text" placeholder="Nome do produto" name="nome" />
                        </div>
                        <div class="col">
                            <br/>
                            <button type="submit" class="btn btn-primary mt-2" id="button">Pesquisar</button>
                        </div>
                    </div>
                    </form>
                  </div>
                 
            </div>
        </div>
        <div class="row" >
            <div class="col">
                  <div class="card-body ">
                      {% for product in products %}
                    <h4 class="card-title">Produto encontrado no estoque:</h4>
                    <table class="table table-bordered  ">
                        <thead class="thead-dark ">
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>

       
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.salePrice}}</td>
                                    <td>
                                        <form action="/cart/add-one/{{product._id}}" method="post">
                                            <button type="submit" class="btn btn-primary">Adicionar</button>
                                        </form>
                                    </td>
                                </tr>
                        </tbody>                                
                            </table>
                            {% endfor %}
                  </div>
            </div>
        </div>

        {% for item in cart.items %}
        <div class="row ">
            <div class="col">
                <table class="table table-small">
                    <thead class="">
                        <tr>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Total</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        
                            <tr class="table-secondary text-success">
                                <td>{{item.product.name}}</td>
                                <td> {{item.quantity}}</td>
                                <td>{{item.formattedPrice}}</td>
                                <td>{{cart.total.formattedPrice}}</td>
                                <td>
                                    <form action="/cart/remove-one/{{item.product._id}}" method="post">
                                        <button class="btn btn-dark" ><i class="fas fa-minus-square"></i></button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/cart/add-one/{{item.product._id}}" method="post">
                                        <button type="submit" class="btn btn-dark" > <i class="fas fa-plus"></i> </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/cart/delete/{{item.product._id}}" method="POST">
                                        <button class="btn btn-danger" ><i class="fas fa-trash-alt"></i> </button>
                                    </form>
                                </td>
                            </tr>

                </table>
            </div>
        </div>
        {% endfor %}
        <span></span>


       


    










<!-- 


        <div class="container  card  shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
            
            <div class="mb-4">
                <h4>Frente de Caixa</h4>
                <hr>
            </div>
            <form action="/cart" name="myForm"  method="post" class="search" onsubmit="return validateForm()">
                <input class="form-control" id="codigoProduto" type="text" placeholder="Código do produto" name="searchBarcode" value="{{searchBarcode}}" autofocus />
                <input class="form-control" id="nomeProduto"type="text" placeholder="Nome do produto" name="nome" />
                <button type="submit" class="btn btn-primary" id="button">Pesquisar</button>
            </form>

            {% for product in products %}
            <table class="table table-bordered table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Ação</th>
                </tr>
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.salePrice}}</td>
                            <td>
                                <form action="/cart/add-one/{{product._id}}" method="post">
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    {% endfor %}

            <div class="items mt-5">
                {% for item in cart.items %}
                    <div class="item">
                        <a href="/products/{{item.product._id}}">
                            <span class="title">{{item.product.name}}</span>
                        </a>

                        <span class="quantity">QTD: {{item.quantity}}</span>

                        <span class="price">Valor: {{item.formattedPrice}}</span>

                        <div class="quantity-control">
                            <form action="/cart/remove-one/{{item.product._id}}" method="post">
                                <button class="remove"><i class="fas fa-minus-square"></i></button>
                            </form>

                            <form action="/cart/add-one/{{item.product._id}}" method="post">
                                <button type="submit"> <i class="fas fa-plus"></i> </button>
                            </form>
                        </div>

                        <form class="trash" action="/cart/delete/{{item.product._id}}" method="POST">
                            <button class="delete"><i class="fas fa-trash-alt"></i> </button>
                        </form>
                    </div>
                    
                {% endfor %}

                
                <div class="total">
                    <p>Total:</p> 
                    <span>{{cart.total.formattedPrice}}</span>
                </div>
                
                    <form  action="/sales" method="POST">

                        <div class="descount">
                            <input type="text" placeholder="Desconto" name="descount"/>
                        </div>

                        <div class="finish">
                        <button class="btn btn-success"> Finalizar Venda </button>
                    </form>

                            <form  action="/sales/deleteall?_method=DELETE" method="POST">
                                <button class="btn btn-danger"> Cancelar Venda </button>
                            </form>
                        </div>
            </div>
        </div>
        </div> -->

        
    {% endblock %}

       



